* {
  padding: 0;
  margin: 0;
  max-width: 1600px;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  display: flex;
  flex-direction: column;
}

header {
  position: inline;
  border: 1px solid;
  background-color: #ececec;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

/* .headerlist {
  flex-direction: row;
} */

footer {
  border: 1px solid;
  background-color: #2f303a;
}

h1 {
  text-decoration: none;
  margin-left: 215;
  font-family: Raleway;
  font-weight: 700;
}

h2 {
  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.section1 {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 80px;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.h2item1 {
  height: 120px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  letter-spacing: 6%;
}

.button1 {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-bottom: 200px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

th {
  padding-left: 30px;
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  text-align: justify;
}

td {
  padding-top: 20px;
  padding-left: 30px;
  width: 280px;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  vertical-align: top;
  text-align: justify;
}

.section2 {
  width: 1600px;
  height: 290px;
  padding-top: 95px;
}

.table1 {
  padding-top: 95px;
  padding-left: 215px;
  padding-right: 215px;
}

.section3 {
  width: 1600px;
  padding-top: 95px;
}

.ul1 {
  margin-left: 166px;
}

.li1 {
  margin-left: 166px;
  margin-top: 50px;
  display: inline;
}

.li2 {
  margin-top: 50px;
  display: inline;
  padding-left: 40px;
}

.li3 {
  margin-top: 50px;
  display: inline;
  padding-left: 40px;
}

.fig1 {
  display: block; /* Блочный элемент */
  float: left; /* Блоки выстраиваются по горизонтали */
  width: 270px;
  margin-left: 215px;
  margin-top: 50px;
  margin-bottom: 95px;
}

.fig2 {
  display: block; /* Блочный элемент */
  float: left; /* Блоки выстраиваются по горизонтали */
  width: 270px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 95px;
}

.fig3 {
  display: block; /* Блочный элемент */
  float: left; /* Блоки выстраиваются по горизонтали */
  width: 270px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 95px;
}

.fig4 {
  display: block; /* Блочный элемент */
  float: left; /* Блоки выстраиваются по горизонтали */
  width: 270px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 95px;
}

.figname {
  font-weight: 500px;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  line-height: 20px;
}

.figprofession {
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  line-height: 20px;
}
